body {
        background-color: #fff;
        color: #777;
        font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
        line-height: 20px;
        margin-bottom: 20px;
}

h1 {
        font-family: 'Crete Round', serif;
        font-weight: bold;
        color: #444;
        font-size: 45px;
        margin-bottom: 20px;
}

h2 {
        font-weight: 300;
        color: #444;
        font-size: 55px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
}

h3 {
        font-size: 30px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
}

h4{
        font-size: 24px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
}

h5 {
        font-size: 15px;
        color: #444;
        font-weight: bold;
        text-transform: uppercase;
}

a {
        text-decoration: none;
        color: #444;
}

a:hover {
        color: #02b8dd;
}

strong {
        font-weight: bold;
}

small {
        font-size: 13px;
        color: #777;
        font-style: italic;
}

.clear {
        clear : both;
}

.wrapper {
        margin: 0 auto;
        padding: 0 10px;
        width: 940px;
}

header {
        margin-top: -15px;
        height: 90px;

}

header h1 {
        float: left;
        margin-top: 14px;
        margin-left: -150px;
        margin-right: 20px;
}

header h1 .color1 {
        color: #02b8dd;
}

header h1 .color2 {
        color: #f39573;
}

.clearfix:after {
        display: block;
        clear: both;
}

.menu .arrow {
        font-size: 11px;
        line-height: 0%;
}

.menu li:hover .sub-menu {
        z-index: 1;
        opacity: 1;
}

.sub-menu {
        width: 160%;
        padding: 0px 0px;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: -1;
        opacity: 0;
        transition:opacity linear 0.15s;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        background: #f8fafa;
}

.sub-menu li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
}

.sub-menu li a {
        padding: 0px 0px;
        display: block;
}


.sub-menu li a:hover, .sub-menu .current-item a {
        color: #02b8dd;
}

header nav ul li {
        float: left;
        position: relative;
        display: block;
        margin-top: 37px;
        margin-left: 20px;
        padding: 0;
}

header nav ul li a {
        color: #444;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-right: 20px;
}

#main-image {
        height: 450px;
        padding-top: 1px;
        background: #f8fafa url('../images/book-fair.jpg') no-repeat center;
}

#desc {
        background-color: #f8fafa;
        padding: 25px 0;
        text-align: center;
}

#desc h3 {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px;
        border-bottom: 1px solid #f39573;
        padding: 0 0 20px 0;
}

#announcements {
        background-color: #fff;
        padding: 25px 0;
        text-align: center;
}

#announcements h3 {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px;
        border-bottom: 1px solid #02b8dd;
        padding: 0 0 20px 0;
}

#cosplaydef {
        background-color: #fff;
        padding: 25px 0;
        text-align: center;
}

#cosplaydef h3 {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px;
        border-bottom: 1px solid #f39573;
        padding: 0 0 20px 0;
}

article h4 {
        border-bottom: 1px solid #02b8dd;
        padding-bottom: 20px;
}

#cta {
        background-color: #f8fafa;
        padding: 60px 0;
        text-align: center;
}

#cta h3 {
        display: block;
        margin: 0 auto 20px auto;
        width: 400px;
        border-bottom: 1px solid #02b8dd;
        padding: 0 0 20px 0;
}

.button-1 {
        display: block;
        margin: 0 auto;
        border: 2px solid #02b8dd;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
        color: #02b8dd;
        border-radius: 3px;
        width: 180px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
}

.button-1:hover, .button-2:focus, .button-2:active {
        background-color: #02b8dd;
        color: #fff;
}

footer {
        padding: 20px 15px;
        border-top: 1px solid #e5e5e5;
        color: #999;
        max-width: 1024px;
        margin: 0 auto;

}

#footer-info {
        width: 380px;
        float: left;
        margin-top: 25px;
}

#footer-links {
        width: 530px;
        float: right;
}

#footer-links ul li {
        float: left;
        display: block;
        margin-top: 25px;
        margin-left: 15px;
        padding: 0;
}

#founders-title {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#founders-title h3 {
        font-family: 'Crete Round';
}

#founders {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

.founders-info h3 {
        float: right;
        font-family: 'Crete Round';
        margin-right: 170px;
        margin-top: 40px;
}

.founders-info {
        padding: 0px;
    <!--    border: 1px solid #e2b8dd; -->
}

.founders-info img {
        width: 45%;
        margin-left: -75px;
        margin-top: 25px;
}

.founders-info p {
        margin-top: -250px;
        width: 450px;
        float: right;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 200;
        line-height: 40px;
}

.founders-info2 h3 {
        float: left;
        font-family: 'Crete Round';
        margin-left: 25px;
        margin-top: -350px;
}

.founders-info2 {
        padding: 10px;
}

.founders-info2 img {
        width: 45%;
        margin-left: 450px;
        margin-top: 50px;
}

.founders-info2 p {
        margin-top: -300px;
        width: 450px;
        float: left;
        margin-left: -50px;
        font-size: 20px;
        font-weight: 200;
        line-height: 40px;
}

#parties-title {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#parties-title h3 {
        font-family: 'Crete Round';
}

#party-info {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#party-info img {
        width: 45%;
        margin-left: 550px;
        margin-top: 20px;
}

#party-info p {
        margin-top: -310px;
        width: 450px;
        float: left;
        margin-left: -50px;
        font-size: 20px;
        font-weight: 200;
        line-height: 30px;
}

#party-guidelines p {
        font-size: 12px;
        font-weight: 150;
        line-height: 20px;
}

#contact-title {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#contact-title h3 {
        font-family: "Crete Round";
}

#contact-details {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
}

#contact-details p {
        text-align: center;
        font-size: 20px;
        font-weight: 200px;
        line-height: 15px;
}

#price-title {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#price-title h3 {
        font-family: "Crete Round";

}

#price-table {
        background-color: #f8fafa;
        width: 97%;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
}

#price-table img {
        width: 56%;
        float: right;
        margin-right: -80px;
}

#price-table table {
        border-collapse: collapse;
        margin-top: 0px;
        margin-left: 35px;
}

#price-table td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
}
